<mat-toolbar>
    CIA Redact
    <button mat-icon-button aria-label="Menu Icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
</mat-toolbar>

<mat-drawer-container autosize>
    <mat-drawer #drawer class="mat-elevation-z8" mode="side">
      <div *ngFor="let file of files" class="row">
        <button mat-button class="col-md-10" [value]="file" [routerLink]="['/file', file]" routerLinkActive="active">{{file}}</button>
      </div>
        
    </mat-drawer>

  <div class="content mat-elevation-z8">
    <!-- <h1 *ngIf="router.isActive('/', true)">Welcome to CIA Redacted!</h1> -->
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
